$bear-img: "http://eco-greece.com/img/bear.png";
$bridge-img: "http://eco-greece.com/img/bridge.png";
$couple-img: "http://eco-greece.com/img/couple.png";
$bird-img: "http://eco-greece.com/img/bird.png";

$bear-img-over: "http://eco-greece.com/img/bear_over.png";
$bridge-img-over: "http://eco-greece.com/img/bridge_over.png";
$couple-img-over: "http://eco-greece.com/img/couple_over.png";
$bird-img-over: "http://eco-greece.com/img/bird_over.png";

$page-loader-img: "http://eco-greece.com/img/282.GIF";

$bg-size: cover;
$bg-height: 420px;
$bg-position: center center;
